.dialog-pane {
	-fx-background-image:url(/gui_assets/big_mixed_texture.png);
	-fx-background-repeat:repeat;
	-fx-border-color:black;
	-fx-border-width:2px;
	-fx-border-style:solid;
}

.dialog-pane .label {
	-fx-text-fill:white;
	-fx-font-size:16px;
}

.dialog-pane .graphic-container {
	-fx-padding:10px 0px 0px 10px;
}

.dialog-pane .header-panel {
	-fx-padding:10px 10px 0px 10px;
}

.dialog-pane .text {
	-fx-fill:white;
	-fx-font-size:16px;
}

.button {
	-fx-background-image:url(/gui_assets/button_tex.png);
	-fx-background-repeat:repeat;
	-fx-border-color:black;
	-fx-border-width:2px;
	-fx-border-style:solid;
	-fx-text-fill:white;
	-fx-font-family:'Impact';
	-fx-font-size:20px;
	-fx-font-weight:bold;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-shadow-highlight-color:transparent;
}

.button:default {
	-fx-background-image:url(/gui_assets/mp.png);
}

.text-container {
	-fx-padding:10px;
}

.table-outer {
	-fx-background-color:transparent;
	-fx-padding:0px;
}

.table-row {
	-fx-background-image:url(/gui_assets/big_copper_texture.png);
	-fx-background-repeat:repeat;
	-fx-border-color:#d89a47;
	-fx-border-style:solid;
	-fx-border-width:2px 2px 2px 0px;
	-fx-padding:6px;
	-fx-font-size:12px;
	-fx-text-fill:white;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-shadow-highlight-color:transparent;
}

.table-row .text {
	-fx-font-size:12px;
	-fx-text-fill:white;
}

.table-row-first {
	-fx-border-width:2px;
	-fx-padding:6px;
}

.scroll-pane {
	-fx-background-color:transparent;
}

.scroll-pane>.viewport {
	-fx-background-color:transparent;
}

#keyboard>.headers {
	-fx-padding:10px 0px 6px 0px;
}

#keyboard>.header-panel .text {
	-fx-font-size:20px;
	-fx-font-weight:bold;
}

.scroll-bar:vertical {
	-fx-padding:0px 0px 0px 4px;
	-fx-pref-width:18px;
	-fx-background-color:transparent;
}

.scroll-bar .increment-button ,
.scroll-bar .decrement-button {
	-fx-background-color:transparent;
	-fx-background-radius: 0px;
	-fx-padding:0px 0px 0px 0px;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
	-fx-shape: " ";
	-fx-padding:0px;
}

.scroll-bar .track-background {
	-fx-background-color:transparent;
}

.scroll-bar .track {
	-fx-background-color:#82503f;
	-fx-background-insets:4px 4px 4px 4px;
}

.scroll-bar .thumb {
	-fx-background-color:#b37248;
	-fx-background-radius:0px;
}

