.gui-pane {
	-fx-background-image:url(/gui_assets/general_background.png)
}

.gui-button {
	-fx-background-image:url(/gui_assets/button_tex.png);
	-fx-background-repeat:no-repeat;
	-fx-border-color:black;
	-fx-border-width:2px;
	-fx-border-style:solid;
	-fx-text-fill:white;
	-fx-font-family:'Impact';
	-fx-font-size:20px;
	-fx-font-weight:bold;
}

