.gui-pane {
	-fx-background-image:url(/gui_assets/general_background.png);
	-fx-background-size:100% 100%;
}

.gui-button {
	-fx-background-image:url(/gui_assets/button_tex.png);
	-fx-background-repeat:repeat;
	-fx-border-color:black;
	-fx-border-width:2px;
	-fx-border-style:solid;
	-fx-text-fill:white;
	-fx-font-family:'Impact';
	-fx-font-size:20px;
	-fx-font-weight:bold;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.gui-img-button {
	-fx-background-image:url(/gui_assets/button_tex.png);
	-fx-background-repeat:repeat;
	-fx-border-color:black;
	-fx-border-width:2px;
	-fx-border-style:solid;
	-fx-padding:2px;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.panel {
	-fx-background-image:url(/gui_assets/big_copper_texture.png);
	-fx-background-repeat:repeat;
	-fx-border-color:black;
	-fx-border-width:2px;
	-fx-border-style:solid;
}

.clear-panel {
	-fx-background-image:url(/gui_assets/big_copper_texture.png);
	-fx-background-repeat:repeat;
	-fx-padding:4px 10px 4px 10px;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.clear-panel .viewport {
	-fx-background-color: transparent;
}

.character-indicator-panel-title {
	-fx-font-size:16px;
}

.panel Label {
	-fx-text-fill:white;
}

.gui-textfield {
	-fx-background-image:url(/gui_assets/button_tex.png);
	-fx-background-repeat:repeat;
	-fx-border-color:black;
	-fx-border-width:2px;
	-fx-border-style:solid;
	-fx-text-fill:white;
	-fx-font-size:16px;
	-fx-padding:10px;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#loadout-character-name {
	-fx-text-fill:white;
	-fx-font-size:72px;
	-fx-font-family:serif;
}

.separator {
	visibility:hidden;
}

.gui-spinner {
	-fx-background-image:url(/gui_assets/button_tex.png);
	-fx-padding:4px;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.gui-spinner .increment-arrow-button,
.gui-spinner .decrement-arrow-button
{
	-fx-border:none;
	-fx-background-color:transparent;
}

.gui-spinner .increment-arrow-button {
	-fx-background-image:url(/gui_assets/plus.png);
	-fx-background-repeat:no-repeat;
	-fx-background-position:center;
	-fx-background-size:contain;
}

.gui-spinner .decrement-arrow-button {
	-fx-background-image:url(/gui_assets/minus.png);
	-fx-background-repeat:no-repeat;
	-fx-background-position:center center;
	-fx-background-size:contain;
}

.gui-spinner .increment-arrow,
.gui-spinner .decrement-arrow {
	-fx-background-color:transparent;
}

.gui-spinner .text-field {
	-fx-padding:6px;
	-fx-text-fill:white;
	-fx-background-color:transparent;
	-fx-border:none;
}



