.character-info-box {
	-fx-background-image:url(gui_assets/character_box_tex.png);
	-fx-border-color:black;
	-fx-border-width:2px;
	-fx-border-style:solid;
}

.multitarget-assistant {
	-fx-background-color:white;
}

.end-manager {
	-fx-background-color:white;
	-fx-border-color:black;
	-fx-border-style:solid;
}

#selectedCharacterImage {
	-fx-image:url(gui_assets/selected.png);
}

.character-info-box-selected { }

.message-line {
	-fx-background-color:white;
	-fx-opacity:0.0;
}

.gui_button {
	-fx-background-image:url(/gui_assets/button_tex.png);
	-fx-background-repeat:repeat;
	-fx-border-color:black;
	-fx-border-width:2px;
	-fx-border-style:solid;
	-fx-text-fill:white;
	-fx-font-family:'Impact';
	-fx-font-size:20px;
	-fx-font-weight:bold;
}

.statBar {
	-fx-border-color:black;
	-fx-border-style:solid;
	-fx-border-width:2px;
}

.statBar Label {
	-fx-text-fill:white;
	-fx-font-weight:bold;
}

.statBar Line {
	-fx-stroke:black;
	-fx-stroke-width:2px;
}

#ap { -fx-background-image:url(gui_assets/ap_background.png); }
#ap ImageView { -fx-image:url(gui_assets/ap.png); }

#mp { -fx-background-image:url(gui_assets/mp_background.png); }
#mp ImageView { -fx-image:url(gui_assets/mp.png); }

#hp { -fx-background-image:url(gui_assets/hp_background.png); }
#hp ImageView { -fx-image:url(gui_assets/hp.png); }

