.character-info-box {
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-border-style: solid;
}

.multitarget-assistant {
	-fx-background-color: white;
}

.character-info-box-selected {
	-fx-background-color: yellow;
}

.message-line {
	-fx-background-color: white;
	-fx-opacity: 0.0;
}

