.character-info-box {
	-fx-background-image:url(gui_assets/character_box_tex.png);
	-fx-border-width:2px;
	-fx-border-style:solid;
}

.character-info-boxA {
	-fx-border-color:red;
}

.character-info-boxB {
	-fx-border-color:blue;
}

.character-info-box-selected {
	-fx-border-color:yellow;
}

.character-info-box-dead {
	-fx-border-color:black;
	-fx-background-image:url(gui_assets/character_box_tex_dead.png);
}

#statusLine {
	-fx-border-color:black;
	-fx-border-width:2px;
	-fx-border-style:solid none none none;
}

.multitarget-assistant {
	-fx-background-color:white;
}

.end-manager {
	-fx-background-color:white;
	-fx-border-color:black;
	-fx-border-style:solid;
}

.reconnect-manager {
	-fx-background-color:white;
	-fx-border-color:black;
	-fx-border-style:solid;
}

#selectedCharacterImage {
	-fx-image:url(gui_assets/selected.png);
}

.message-line {
	-fx-opacity:0.0;
	-fx-background-image:url(gui_assets/big_gold_texture.png);
	-fx-border-color:black;
	-fx-border-width:2px;
	-fx-border-style:solid;
	-fx-padding:10px;
	-fx-text-fill:white;
	-fx-font-family:'Impact';
	-fx-font-size:20px;
	-fx-font-weight:bold;
}

#rounds {
	-fx-background-image:url(/gui_assets/rounds.png);
}

#rounds_fatigue {
	-fx-background-image:url(/gui_assets/rounds_fatigue.png);
}

.rounds_indicator {
	-fx-background-repeat:no-repeat;
	-fx-border-color:black;
	-fx-border-width:2px;
	-fx-border-style:solid;
}

.rounds_indicator Label {
	-fx-text-fill:white;
	-fx-font-family:'Impact';
	-fx-font-size:20px;
	-fx-font-weight:bold;
}

.statBar {
	-fx-border-color:black;
	-fx-border-style:solid;
	-fx-border-width:2px;
}

.statBar Label {
	-fx-text-fill:white;
	-fx-font-weight:bold;
}

.statBar Line {
	-fx-stroke:black;
	-fx-stroke-width:2px;
}

#ap { -fx-background-image:url(gui_assets/ap_background.png); }
#ap ImageView { -fx-image:url(gui_assets/ap.png); }

#ap_mana {
	-fx-background-image:url(gui_assets/ap_background_mana.png);
	-fx-border-color:#0000FF;
}
#ap_mana ImageView { -fx-image:url(gui_assets/ap_mana.png); }
#ap_mana Line {-fx-stroke:#0000FF}

#mp { -fx-background-image:url(gui_assets/mp_background.png); }
#mp ImageView { -fx-image:url(gui_assets/mp.png); }

#hp { -fx-background-image:url(gui_assets/hp_background.png); }
#hp ImageView { -fx-image:url(gui_assets/hp.png); }

#hp_cover {
	-fx-background-image:url(gui_assets/hp_background_cover.png);
	-fx-border-color:#FFFF00;
}
#hp_cover ImageView { -fx-image:url(gui_assets/hp_cover.png); }

.command-button-label {
	-fx-background-color:white;
	-fx-border-style:solid;
	-fx-border-width:1px;
	-fx-border-color:black;
	-fx-text-fill:black;
	-fx-padding:10px;
}

.command-button-disabled {
	-fx-opacity:0.6;
}

