.left-panel {
	-fx-padding:60px 0px 60px 40px
}

.left-panel-inner {
	-fx-background-image:url(/gui_assets/big_copper_texture.png);
	-fx-background-repeat:repeat;
	-fx-border-width:2px;
	-fx-border-style:solid;
	-fx-border-color:black;
}

#players-list .gui-list {
	-fx-fixed-cell-size:38px;
}

#players-list .roller-scroller {
	-fx-border-width:2px 0px 2px 0px;
	-fx-border-style:solid;
	-fx-border-color:black;
	-fx-padding:0px;
}

.title {
	-fx-text-fill:white;
	-fx-font-family:'Impact';
	-fx-font-size:20px;
	-fx-font-weight:bold;
	-fx-alignment:center;
	-fx-padding:10px;
	-fx-border-width:0px 0px 2px 0px;
	-fx-border-style:solid;
	-fx-border-color:black;
}

#no-players {
	-fx-text-fill:white;
	-fx-font-size:16px;
}

.control-wrapper {
	-fx-padding:10px;
}

#news-panel {
	-fx-padding:60px 40px 60px 40px;
}

#news-panel-inner {
	-fx-border-width:2px;
	-fx-border-style:solid;
	-fx-border-color:black;
	-fx-background-image:url(/gui_assets/big_copper_texture.png);
	-fx-background-repeat:repeat;
}

#status-message {
	-fx-border-width:0px 0px 2px 0px;
	-fx-border-style:solid;
	-fx-border-color:black;
}

#veto-panel {
	-fx-padding:60px 40px 60px 40px;
}

#veto-panel-inner {
	-fx-border-width:2px;
	-fx-border-style:solid;
	-fx-border-color:black;
	-fx-background-image:url(/gui_assets/big_copper_texture.png);
	-fx-background-repeat:repeat;
}

#veto-panel-inner .buttons {
	-fx-padding:10px;
}

.veto-buttons {
	-fx-padding:10px;
}

.veto-button .box , .veto-button .mark {
	-fx-padding:0px;
	visibility:hidden;
}

.veto-button {
	-fx-background-color:white;
	-fx-border-color:black;
	-fx-border-width:2px;
	-fx-border-style:solid;
	-fx-padding:8px 8px 0px 0px;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-shadow-highlight-color:transparent;
}

.veto-button .label {
	-fx-padding:0px;
	-fx-text-fill:white;
	-fx-font-family:'Impact';
	-fx-font-size:26px;
	-fx-alignment:bottom-center;
}

.veto-button .label .text {
	-fx-stroke:black;
	-fx-stroke-width:1px;
}

.veto-button .cross {
	-fx-stroke:red;
	-fx-stroke-width:10px;
}

