/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
	
}

#selectedCharacterPortrait {
	-fx-background-color: Gray;
}

#HP {
	-fx-accent: Green;
}

.AP_bar {
	-fx-accent: Blue;
}

.MP_bar {
	-fx-accent: Orange;
}

