/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
	
}

#selectedCharacterPortrait {
	-fx-background-color: Gray;
}

.progressLabel {
	-fx-text-fill: Black;
}

.HP_bar {
	-fx-accent: limegreen;
}

.AP_bar {
	-fx-accent: deepskyblue;
}

.MP_bar {
	-fx-accent: Orange;
}

