/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
	
}

#selectedCharacterPortrait {
	-fx-background-color: Gray;
}

.button:disabled {
	-fx-opacity: 1;
	-fx-text-fill: Gray;
}

.progressLabel {
	-fx-text-fill: Black;
}

.HP_bar {
	-fx-accent: limegreen;
}

.AP_bar {
	-fx-accent: deepskyblue;
}

.MP_bar {
	-fx-accent: Orange;
}

